#inpNumero{
    border: 1px solid red;
    border-radius: 4px green;
}

body{
    background-color: rgb(0, 255, 106);
}
button{
    border-radius: 4px;
}
#contenier{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 50px;
    background-color: azure;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;


}


#divResultado{
    border: 1px;
    
}